body {
	background-color: #000;
	font-family: arial;
}

h2 {
	margin: 50px;
	text-align: center;
	color: #fff;
}

.board {
	float: left;
	padding: 20px;
	background-color: #fff;
	width: 434px;
}

.square {
	border: 2px solid black;
	height: 50px;
	width: 50px;
	background-color: #0d4832;
	cursor: pointer;
}

.black {
	background-image: url('/images/black_piece.png');
	background-repeat: no-repeat;
	background-position: middle center;
	
}

.white {
	background-image: url('/images/white_piece.png');
	background-repeat: no-repeat;
	background-position: middle center;
}

.control_panel {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	background-color: #3c7660;
	padding: 30px;
	margin: 20px;
}

.start_button {
	margin-bottom: 25px;
	font-size: 12pt;
}

.white_score, .black_score {
	margin: 10px;
	padding: 5px;
	width: 75px;
	height: 15px;
}