body {
	background-color: #000;
}

h2 {
	margin: 50px;
	text-align: center;
	color: #fff;
	font-family: arial;
}

.board {
	margin-left: 270px;
	padding: 20px;
	background-color: #fff;
	width: 560px;
}

.square {
	border: 2px solid black;
	height: 50px;
	width: 50px;
	background-color: #0d4832;
}